<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Create a post')">
    <meta charset="UTF-8">
    <title>Creation!</title>
</head>
<body>
<header th:insert="partials/partials.html :: header('Create a post')"></header>

<h1>Create a post</h1>

<main class="container">
    <form th:action="@{/posts/create}" th:method="POST" th:object="${newPost}">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input th:field="*{title}" class="form-control" id="title" type="text" name="title" placeholder="Enter post title">
        </div>
        <div class="mb-3">
            <label class="form-label" for="body">Body</label>
            <textarea th:field="*{body}" class="form-control" id="body" name="body" placeholder="Enter body of text"></textarea>
        </div>
        <div class="d-grid">
            <button class="btn btn-dark btn-block">Create Post</button>
        </div>
    </form>
    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</main>

</body>
</html>