<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creation!</title>
</head>
<body>

<h1>Create a post</h1>

<form th:action="@{/posts/create}" th:object="${newPost}" method="post">
    <fieldset>

        <legend> Post details:</legend>
        <label for="title">Title</label>
        <input th:field="*{title}" type="text" name="title" id="title">
        <br><br>
        <label for="body">Content</label>
        <br>
        <textarea th:field="*{body}" name="body" id="body" cols="25" rows="20"></textarea>
        <input type="submit" value="submit">
    </fieldset>
</form>


</body>
</html>