<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${'My Blog |' + title}"></title>
</head>

<!--<head th:fragment=""></head>-->

<nav th:fragment="nav">
    <a href="/home">Home</a>
    <a href="/posts">Posts</a>
    <a href="/about-us">About us</a>
</nav>

<nav th:fragment="nav2">
    <a href="/roll-dice">Roll-Dice page</a>
    <a href="/products">See some products</a>
    <a href="/posts">See the posts</a>
</nav>

<h1 th:fragment="MainHeader">The GREATEST header in the UNIVERSE</h1>

<footer th:fragment="footer">
    <p>This is the footer partial! </p>
</footer>

<footer th:fragment="foota">!!!!ﬁ‹€• ∞ ™¡ £ ªºº •• ∞ § § ∞ªª ºº 100ººº¡¡¡¡⁄</footer>

