<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->


<!--<div th:each="item : ${items}">-->
<!--    <a th:href="@{/pathvars/single/{id}(id = ${item.id})}">-->
<!--        <span th:text="${item.name}"></span>-->
<!--    </a>-->
<!--</div>-->


<!--<ul>-->
<!--    <li th:each="detail : ${item.details}">-->
<!--        <a th:href="@{/pathvars/item/{itemId}/detail/{detailId}(itemId = ${item.id}, detailId =-->
<!--        ${detail.id})}"></a>-->

<!--    </li>-->
<!--</ul>-->


<!--</body>-->
<!--</html>-->